/* Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	height : 100vh;
    overflow: hidden;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* Style */
/* #vaisseau {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	right: 0;
} */


#audio {
	display: none;
}


/* Animation properties */
.star, .wars {
	user-select: none;      /* Empêche la sélection */
	-webkit-user-drag: none; /* Empêche le drag sur Safari */
}
.star {
  animation: star 10s ease-out;
}
.wars {
  animation: wars 10s ease-out;
}
.byline span {
  animation: spin-letters 10s linear;
}
.byline {
  animation: move-byline 10s linear;
}

/* Keyframes */
@keyframes star {
  0% {
    opacity: 0;
    transform: scale(1.5) translateY(-3.25em);
  }
  20% {
    opacity: 1;
  }
  89% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: translateZ(-1000em);
  }
}

@keyframes wars {
  0% {
    opacity: 0;
    transform: scale(1.5) translateY(1.25em);
  }
  20% {
    opacity: 1;
  }
  90% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: translateZ(-1000em);
  }
}

@keyframes spin-letters {
  0%, 10% {
    opacity: 0;
    transform: rotateY(90deg);
  }
  30% {
    opacity: 1;
  }
  70%, 86% {
    transform: rotateY(0);
    opacity: 1;
  }
  95%, 100% {
    opacity: 0;
  }
}

@keyframes move-byline {
  0% {
    transform: translateZ(5em);
  }
  100% {
    transform: translateZ(0);
  }
}

/* Make the 3D work on the container */
.starwars-demo {
	perspective: 800px;
	transform-style: preserve3d;
}

.starwars-demo.hide {
  opacity: 0;
  pointer-events: none;
}



.starwars-demo {
  height: 17em;
  left: 50%;
  position: absolute;
  top: 53%;
  transform: translate(-50%, -50%);
  width: 34em;
}

.byline span {
  display: inline-block;
}

img {
  width: 100%;
}

.star, .wars, .byline {
  position: absolute;
}

.star {
  top: -3.25em;
}

.wars {
  bottom: 1.25em;
}

.byline {
	color: #fff;
	font-family: 'Poppins', sans-serif;
	font-weight: 500;
	font-size: 2.25em;
	left: -2em;
	letter-spacing: 0.4em;
	right: -2em;
	text-align: center;
	text-transform: uppercase;
	top: 29%;
}

/*** Media queries for adjusting to different screen sizes ***/

@media only screen and (max-width: 600px) {
  .starwars-demo {
    font-size: 10px;
  }
}

@media only screen and (max-width: 480px) {
  .starwars-demo {
    font-size: 7px;
  }
}

/* Texte défile */
.container-text {
	opacity: 0;
  	transition: opacity 1s;
	user-select: none;
	width: 100%;
	height: 100%;
	position: absolute;
	pointer-events: none;
}

.container-text.visible {
  opacity: 1;
  transition: opacity 1s;
  pointer-events: none;
}


.fade {
  position: relative;
  z-index: 2;
  width: 100%;
  min-height: 60vh;
  top: -25px;
  background-image: linear-gradient(0deg, transparent, black 75%);
}

.star-wars {
	position: absolute;
	display: flex;
	justify-content: center;
	position: relative;
	height: 800px;
	color: #feda4a;
	font-family: 'Poppins', sans-serif;
	font-size: 500%;
	font-weight: 600;
	letter-spacing: 6px;
	line-height: 150%;
	perspective: 400px;
	text-align: justify;
	z-index: 1;
}

.crawl {
	position: relative;
	top: 99999px;
	transform-origin: 50% 100%;
	animation: crawl 60s linear;
	width: 90vw; 
}

.crawl > .title {
  font-size: 90%;
  text-align: center;
}

.crawl > .title h1 {
  margin: 0 0 100px;
  text-transform: uppercase;
}

@keyframes crawl {
	0% {
    top: 1100px;
    transform: rotateX(20deg)  translateZ(0);
  }
	100% { 
    top: -6000px;
    transform: rotateX(25deg) translateZ(-2500px);
  }
}